# Tuples

**In this notebook, we cover the following subjects:**
- Defining a Tuple;
- Working with Tuples;
- More Advanced Tasks.
___________________________________________________________________________________________________________________________

In [ ]:
# To enable type hints for lists, dicts, and tuples, we need to import the following:
from typing import List, Dict, Tuple

<h2 style="color:#4169E1">Defining a Tuple</h2>

In this notebook, we introduce a unique data type used in Python: [tuples][tuple]. A tuple is a sequence of values that is similar to a list, as it is **indexed by integers** and can contain elements of **any type**, including **duplicates**. However, tuples are **immutable**, whereas lists are mutable. This immutability can be a strength in certain situations, ensuring that the data you store in a tuple remains constant throughout your program's execution.

Tuples are defined using parentheses `()`.

```python
my_tuple: Tuple = (element1, element2, element3)
```

Let's look at an example.

[tuple]:https://programming-pybook.github.io/introProgramming/chapters/tuples.html

In [ ]:
my_tuple: Tuple[int, ...] = (1, 2, 3, 4, 5)

print(my_tuple)
type(my_tuple)

If you want to create a tuple with just one element, then you have to add a comma as terminator.

In [ ]:
my_second_tuple: tuple = 'programming',

print(my_second_tuple)
type(my_second_tuple)

A single value between parantheses is **not** a tuple.

In [ ]:
my_third_tuple: tuple = ('statistics')

print(my_third_tuple)
type(my_third_tuple)

If the argument of the tuple function is a sequence (string, list, or tuple), the result is a tuple with the elements of the sequence.

In [ ]:
my_final_tuple: tuple = tuple('engineering')

print(my_final_tuple)
type(my_final_tuple)

<h4 style="color:#B22222">An Overview</h4>

Now, let's add the Tuple to the data types we've covered so far to create a clear overview of their properties.

| Property                              | Tuple           | List            | Dict Keys              | Dict Values              | 
|-------------------------------------- |-----------------|-----------------|------------------------|--------------------------|
| **Mutable** (can you add add/remove?) | no              | yes             | yes                    | yes                      |      
| **Can** contain duplicates            | yes             | yes             | no                     | yes                      |
| **Ordered**                           | yes             | yes             | yes (since Python 3.7) | yes (follows key order)  |
| **Can** contain                       | all             | all             | immutables             |  all                     |

<h2 style="color:#4169E1">Working with Tuples</h2>

<h4 style="color:#B22222">Accessing Elements</h4>

The elements in a tuple can be accessed using indexing.

In [ ]:
numbers_tuple: Tuple[int, ...] = (1, 2, 3, 4, 5)

first_element = numbers_tuple[0]
second_element = numbers_tuple[1]

print(first_element)
print(second_element)

<h4 style="color:#B22222">Slicing</h4>

You can create sub-tuples by slicing a tuple and assigning them to a new variable.

In [ ]:
actors_oppenheimer_tuple: Tuple[str, ...] = ("Cillian Murphy", "Emily Blunt", "Robert Downey Jr.", "Matt Damon", "Florence Pugh", "Kenneth Branagh", "Rami Malek")

main_cast_oppenheimer = actors_tuple[:5]

print(main_cast_oppenheimer)

<h4 style="color:#B22222">Concatenation</h4>

Identical to lists, the `+` operator can be used to concatenate two tuples.

In [ ]:
morning_tasks: Tuple[str, ...] = ("Wake up", "Brush teeth", "Eat breakfast")
evening_tasks: Tuple[str, ...] = ("Dinner", "Watch TV", "Go to bed")

daily_tasks = morning_tasks + evening_tasks

print(daily_tasks)

<h4 style="color:#B22222">Repetition</h4>

A new tuple can be created by repeating an existing one using the `*` operator.

In [ ]:
favorite_fruits: Tuple[str, ...] = ("Apple", "Banana", "Cherry")

abundant_fruit_basket = favorite_fruits * 3

print(abundant_fruit_basket)

<h4 style="color:#B22222">Length</h4>

The length of a tuple can be found using the `len()` function.

In [ ]:
road_trip_stops: Tuple[str, ...] = ("Gas Station", "Restaurant", "Hotel", "Park", "Museum")

number_of_stops = len(road_trip_stops)

print(f"Number of stops on the road trip: {number_of_stops}")

<div class="alert" style="background-color: #ffecb3; color: #856404;">
    <b>Note</b><br>
Just as with other data types, <code>dir()</code> and <code>help()</code> can be used for tuples. </div>

<h2 style="color:#4169E1">More Advanced Tasks</h2>

<h4 style="color:#B22222">Packing and Unpacking</h4>

Tuples allow you to pack multiple values into one variable and unpack them into several variables.

In [ ]:
# Packing multiple values into a tuple
my_tuple: Tuple[int, ...] = (1, 2, 3)

# Unpacking values from the tuple
a, b, c = my_tuple

print(a, b, c)

<h4 style="color:#B22222">Tuples as Return Values</h4>

By means of a tuple a function can return a collection of values.

In [ ]:
def get_coordinates() -> Tuple[int, int]:
    x: int = 10
    y: int = 20
    return x, y  # Returning a tuple

coordinates: Tuple[int, int] = get_coordinates()
x, y = coordinates  # Unpacking the returned values

print(x, y)

<div class="alert" style="background-color: #ffecb3; color: #856404;">
    <b>Note</b><br>
Unlike lists, tuples can be used as keys in dictionaries due to their immutability.</div>

<h2 style="color:#3CB371">Exercises</h2>

Let's practice! Mind that each exercise is designed with multiple levels to help you progressively build your skills. <span style="color:darkorange;"><strong>Level 1</strong></span> is the foundational level, designed to be straightforward so that everyone can successfully complete it. In <span style="color:darkorange;"><strong>Level 2</strong></span>, we step it up a notch, expecting you to use more complex concepts or combine them in new ways. Finally, in <span style="color:darkorange;"><strong>Level 3</strong></span>, we get closest to exam level questions, but we may use some concepts that are not covered in this notebook. However, in programming, you often encounter situations where you’re unsure how to proceed. Fortunately, you can often solve these problems by starting to work on them and figuring things out as you go. Practicing this skill is extremely helpful, so we highly recommend completing these exercises.

For each of the exercises, make sure to add a `docstring` and `type hints`, and **do not** import any libraries unless specified otherwise.
<br>

### Exercise 1

An article critic works with multiple magazines and realizes that most articles use the same words to describe specific events. 

<span style="color:darkorange;"><strong>Level 1</strong>:</span> Your task is to define a function named `common_words()` that creates a tuple containing all the common words found in both `article_1` and `article_2`. You are **not** allowed to use sets and their methods.

The function `common_words()` should:
1. Accept two parameters in the following order:
    - A string containing `article_1`
    - A string containing `article_2`
2. Create a tuple with the words that are common to both `article_1` and `article_2` (excluding spaces and punctuation).
3. **Return** the tuple of common words.

**Print** the tuple **outside** the function in a clear and readable format.

**Example input**: you pass these arguments to the parameters in the function call.
```Python
article_1 : str = "The strong winds in the Netherlands bring cool air from the North Sea."
article_2 : str = "In the Netherlands, windmills have been used for centuries to harness the power of the wind from the sea."
```

**Example output**:
```Python
"Common words in both articles: ('sea', 'the', 'netherlands', 'in', 'from')"
```

In [ ]:
# TODO.

<span style="color:darkorange;"><strong>Level 2</strong>:</span> Now, let’s take the `common_words()` function up a notch. Your task is to copy and modify this function so that it not only identifies the common words but also counts how many times each of these common words shows up across both articles. The function should **return** a tuple of tuples, where each inner tuple consists of a word and its total count from both articles combined.


The function `common_words()` should now:

1. Accept two parameters in the following order:
    - A string containing `article_1`
    - A string containing `article_2`
2. Create a **dictionary** (excluding spaces and punctuation) where the keys are the common words and the values are the total counts of those words across both articles.
3. Convert the dictionary into a tuple of tuples, where each inner tuple is in the form `(word, count)`.
4. **Return** the tuple of tuples sorted alphabetically by the word.

**Print** the tuple **outside** the function in a clear and readable format.

**Example input**: you pass these arguments to the parameters in the function call.
```Python
article_1 : str = "The strong winds in the Netherlands bring cool air from the North Sea."
article_2 : str = "In the Netherlands, windmills have been used for centuries to harness the power of the wind from the sea."
```

**Example output**:
```Python
"The word frequency of the common words: (('from', 2), ('in', 2), ('netherlands', 2), ('sea', 2), ('the', 7))"
```

### Exercise 2

VU Amsterdam aims to award a scholarship to the best-performing student and recognize all students who have excelled academically.

<span style="color:darkorange;"><strong>Level 1</strong>:</span> Your task is to define a function named `honors_students()` that determines the student with the highest GPA and identifies all students with a 9.0 GPA or higher. The function should work as follows:

1. It receive one **parameter**: a dictionary where the keys are the names of the students and the values are their GPA scores.
2. It creates a tuple with two parts:
    - The first part is a tuple containing the name and GPA of the best performing student.
    - The second part is a tuple of tuples, where each inner tuple contains the name and GPA of a student with a GPA of 9.0 or above.
3. Finally, the function should **return** these two parts as a single tuple using the statement: `return highest_gpa_student, honors`.

**Print** the result **outside** the function in a clear and readable format.

**Example input**:
```python
student_scores  : Dict[str,float]= {
    "Alice": 9.5,
    "Bob": 8.8,
    "Charlie": 9.2,
    "David": 9.8,
    "Eve": 8.9,
    "Frank": 9.7,
    "Grace": 8.0,
    "Hannah": 9.1,
    "Isaac": 7.5,
    "Jack": 8.5,
    "Katherine": 9.3,
    "Liam": 7.2,
    "Mia": 8.2,
    "Noah": 7.9,
}
```
**Example return value**:
```python
(('David', 9.8), (('Alice', 9.5), ('Charlie', 9.2), ('David', 9.8), ('Frank', 9.7), ('Hannah', 9.1), ('Katherine', 9.3)))
```

**Example output**:
```
David has the highest GPA in the scientific department, with a score of 9.8.

Students with a GPA above 9.0:
- Alice: GPA 9.5
- Charlie: GPA 9.2
- David: GPA 9.8
- Frank: GPA 9.7
```

In [ ]:
# TODO.

<span style="color:darkorange;"><strong>Level 2</strong>:</span> Copy the `honors_students()` function and modify it so that it not only finds the student with the highest GPA and those with GPAs of 9.0 or higher but also ranks the top 3 students by GPA. The function should now **return** a three-part tuple:

1. The student with the highest GPA, as before;
2. A tuple of tuples containing students with GPAs of 9.0 or higher;
3. A list of tuples with the top 3 students, sorted by GPA in descending order;

Return these three parts as a single tuple using `return highest_gpa_student, honors, top3_gpa`.

If there are fewer than three students, the list should include only the available students.

**Print** the result **outside** the function in a clear and readable format.

**Example input**:
```python
student_scores  : Dict[str,float]= {
    "Alice": 9.5,
    "Bob": 8.8,
    "Charlie": 9.2,
    "David": 9.8,
    "Eve": 8.9,
    "Frank": 9.7,
    "Grace": 8.0,
    "Hannah": 9.1,
    "Isaac": 7.5,
    "Jack": 8.5,
    "Katherine": 9.3,
    "Liam": 7.2,
    "Mia": 8.2,
    "Noah": 7.9,
}
```
**Example return value**:
```python
(('David', 9.8), (('Alice', 9.5), ('Charlie', 9.2), ('David', 9.8), ('Frank', 9.7), ('Hannah', 9.1), ('Katherine', 9.3)), [('David', 9.8), ('Frank', 9.7), ('Alice', 9.5)])
```

**Example output**:
```
David has the highest GPA in the scientific department, with a score of 9.8.

Students with a GPA above 9.0:
- Alice: GPA 9.5
- Charlie: GPA 9.2
- David: GPA 9.8
- Frank: GPA 9.7

Top 3 students by GPA:
1. David: GPA 9.8
2. Frank: GPA 9.7
3. Alice: GPA 9.5
```

In [ ]:
# TODO.

<span style="color:darkorange;"><strong>Level 3</strong>:</span> As the data we want to extract grows, using a format of tuples can become less readable. Do you remember a better way to organize multi-layered data? Exactly—**dictionaries**!


In this exercise, your task is to enhance the `honors_students()` function so that it **returns** a comprehensive analysis of student performance in a single **dictionary**. The function should do the following:

1. Identify the student(s) with the highest GPA.
2. Rank the top 3 students by GPA, including ties if multiple students share the same GPA.
3. Rather than simply filtering students with GPAs of 9.0 or higher, the function should categorize students into three distinct GPA tiers:
    - Tier 1: Students with a GPA of 9.5 or higher.
    - Tier 2: Students with a GPA between 9.0 and 9.5 (exclusive).
    - Tier 3: Students with a GPA below 9.0 but above or equal to 8.0.

The function should **return a dictionary** with the following structure:
- “Highest GPA”: A list of tuples with the name(s) and GPA(s) of the student(s) with the highest GPA.
- “Top 3 Students”: A list of tuples representing the top 3 students, sorted by GPA in descending order (including ties).
- “Tiers”: A nested dictionary categorizing students into the three GPA tiers. Each tier list sorted by GPA in descending order (including ties).

**Return** this dictionary using the statement: `return result_dict` and **print** the dictionary **outside** the function. 

**Example input**:
```python
student_scores  : Dict[str,float]= {
    "Alice": 9.5,
    "Bob": 9.5,
    "Charlie": 9.2,
    "David": 9.8,
    "Eve": 8.9,
    "Frank": 9.7,
    "Grace": 8.5,
    "Hannah": 9.1,
    "Isaac": 7.5,
    "Jack": 8.5,
    "Katherine": 9.3,
    "Liam": 7.2,
    "Mia": 8.2,
    "Noah": 7.9,
}
```
**Example return value/output**:
```
{
    "Highest GPA": [("David", 9.8)],
    "Top 3 Students": [("David", 9.8), ("Frank", 9.7), ("Alice", 9.5), ("Bob", 9.5)],
    "Tiers": {
        "Tier 1": [("David", 9.8), ("Frank", 9.7), ("Alice", 9.5), ("Bob", 9.5)],
        "Tier 2": [("Katherine", 9.3), ("Charlie", 9.2), ("Hannah", 9.1)],
        "Tier 3": [("Eve", 8.9), ("Grace", 8.5), ("Jack", 8.5), ("Mia", 8.2)]
    }
}
```

In [ ]:
# TODO.

___________________________________________________________________________________________________________________________

*Material for the VU Amsterdam course “Introduction to Python Programming” for BSc Artificial Intelligence students. These notebooks are created using the following sources:*
1. [Learning Python by Doing][learning python]: This book, developed by teachers of TU/e Eindhoven and VU Amsterdam, is the main source for the course materials. Code snippets or text explanations from the book may be used in the notebooks, sometimes with slight adjustments.
2. [Think Python][think python]
3. [GeekForGeeks][geekforgeeks]

[learning python]: https://programming-pybook.github.io/introProgramming/intro.html
[think python]: https://greenteapress.com/thinkpython2/html/
[geekforgeeks]: https://www.geeksforgeeks.org