# Tuples

*Material for the VU Amsterdam course “Introduction to Python Programming” for BSc Artificial Intelligence students. These notebooks are created using the following sources:*
1. [Learning Python by Doing][learning python]: This book, developed by teachers of TU/e Eindhoven and VU Amsterdam, is the main source for the course materials. Code snippets or text explanations from the book may be used in the notebooks, sometimes with slight adjustments.
2. [Think Python][think python]
3. [GeekForGeeks][geekforgeeks]

[learning python]: https://programming-pybook.github.io/introProgramming/intro.html
[think python]: https://greenteapress.com/thinkpython2/html/
[geekforgeeks]: https://www.geeksforgeeks.org

**In this notebook, we cover the following subjects:**
- Defining a Tuple;
- Working with Tuples;
- More Advanced Tasks.
___________________________________________________________________________________________________________________________

In [65]:
# To enable type hints for lists, dicts, and tuples, we need to import the following:
from typing import List, Dict, Tuple

<h2 style="color:#4169E1">Defining a Tuple</h2>

In this notebook, we introduce a unique data type used in Python: [tuples][tuple]. A tuple is a sequence of values that is similar to a list, as it is **indexed by integers** and can contain elements of **any type**, including **duplicates**. However, tuples are **immutable**, whereas lists are mutable. This immutability can be a strength in certain situations, ensuring that the data you store in a tuple remains constant throughout your program's execution.

Tuples are defined using parentheses `()`.

```python
my_tuple: Tuple = (element1, element2, element3)
```

Let's look at an example.

[tuple]:https://programming-pybook.github.io/introProgramming/chapters/tuples.html

In [68]:
my_tuple: Tuple[int, ...] = (1, 2, 3, 4, 5)

print(my_tuple)
type(my_tuple)

(1, 2, 3, 4, 5)

tuple

If you want to create a tuple with just one element, then you have to add a comma as terminator.

In [71]:
my_second_tuple: tuple = 'programming',

print(my_second_tuple)
type(my_second_tuple)

('programming',)

tuple

A single value between parantheses is **not** a tuple.

In [74]:
my_third_tuple: tuple = ('statistics')

print(my_third_tuple)
type(my_third_tuple)

statistics

str

If the argument of the tuple function is a sequence (string, list, or tuple), the result is a tuple with the elements of the sequence.

In [77]:
my_final_tuple: tuple = tuple('engineering')

print(my_final_tuple)
type(my_final_tuple)

('e', 'n', 'g', 'i', 'n', 'e', 'e', 'r', 'i', 'n', 'g')

tuple

<h4 style="color:#B22222">An Overview</h4>

Now, let's add the Tuple to the data types we've covered so far to create a clear overview of their properties.

| Property                              | Tuple           | List            | Dict Keys              | Dict Values              | 
|-------------------------------------- |-----------------|-----------------|------------------------|--------------------------|
| **Mutable** (can you add add/remove?) | no              | yes             | yes                    | yes                      |      
| **Can** contain duplicates            | yes             | yes             | no                     | yes                      |
| **Ordered**                           | yes             | yes             | yes (since Python 3.7) | yes (follows key order)  |
| **Can** contain                       | all             | all             | immutables             |  all                     |

<h2 style="color:#4169E1">Working with Tuples</h2>

<h4 style="color:#B22222">Accessing Elements</h4>

The elements in a tuple can be accessed using indexing.

In [83]:
numbers_tuple: Tuple[int, ...] = (1, 2, 3, 4, 5)

first_element = numbers_tuple[0]
second_element = numbers_tuple[1]

print(first_element)
print(second_element)

1
2

<h4 style="color:#B22222">Slicing</h4>

You can create sub-tuples by slicing a tuple and assigning them to a new variable.

In [86]:
actors_oppenheimer_tuple: Tuple[str, ...] = ("Cillian Murphy", "Emily Blunt", "Robert Downey Jr.", "Matt Damon", "Florence Pugh", "Kenneth Branagh", "Rami Malek")

main_cast_oppenheimer = actors_tuple[:5]

print(main_cast_oppenheimer)

('Cillian Murphy', 'Emily Blunt', 'Robert Downey Jr.', 'Matt Damon', 'Florence Pugh')

<h4 style="color:#B22222">Concatenation</h4>

Identical to lists, the `+` operator can be used to concatenate two tuples.

In [89]:
morning_tasks: Tuple[str, ...] = ("Wake up", "Brush teeth", "Eat breakfast")
evening_tasks: Tuple[str, ...] = ("Dinner", "Watch TV", "Go to bed")

daily_tasks = morning_tasks + evening_tasks

print(daily_tasks)

('Wake up', 'Brush teeth', 'Eat breakfast', 'Dinner', 'Watch TV', 'Go to bed')

<h4 style="color:#B22222">Repetition</h4>

A new tuple can be created by repeating an existing one using the `*` operator.

In [92]:
favorite_fruits: Tuple[str, ...] = ("Apple", "Banana", "Cherry")

abundant_fruit_basket = favorite_fruits * 3

print(abundant_fruit_basket)

('Apple', 'Banana', 'Cherry', 'Apple', 'Banana', 'Cherry', 'Apple', 'Banana', 'Cherry')

<h4 style="color:#B22222">Length</h4>

The length of a tuple can be found using the `len()` function.

In [96]:
road_trip_stops: Tuple[str, ...] = ("Gas Station", "Restaurant", "Hotel", "Park", "Museum")

number_of_stops = len(road_trip_stops)

print(f"Number of stops on the road trip: {number_of_stops}")

Number of stops on the road trip: 5

<div class="alert" style="background-color: #ffecb3; color: #856404;">
    <b>Note</b><br>
Just as with other data types, <code>dir()</code> and <code>help()</code> can be used for tuples. </div>

<h2 style="color:#4169E1">More Advanced Tasks</h2>

<h4 style="color:#B22222">Packing and Unpacking</h4>

In [112]:
# Packing multiple values into a tuple
my_tuple: Tuple[int, ...] = (1, 2, 3)

# Unpacking values from the tuple
a, b, c = my_tuple

print(a, b, c)

1 2 3

<h4 style="color:#B22222">Tuples as Return Values</h4>

<div class="alert" style="background-color: #ffecb3; color: #856404;">
    <b>Note</b><br>
Unlike lists, tuples can be used as keys in dictionaries due to their immutability.</div>

<h2 style="color:#3CB371">Exercises</h2>

Let's practice! Mind that each exercise is designed with multiple levels to help you progressively build your skills. <span style="color:darkorange;"><strong>Level 1</strong></span> is the foundational level, designed to be straightforward so that everyone can successfully complete it. In <span style="color:darkorange;"><strong>Level 2</strong></span>, we step it up a notch, expecting you to use more complex concepts or combine them in new ways. Finally, in <span style="color:darkorange;"><strong>Level 3</strong></span>, we get closest to exam level questions, but we may use some concepts that are not covered in this notebook. However, in programming, you often encounter situations where you’re unsure how to proceed. Fortunately, you can often solve these problems by starting to work on them and figuring things out as you go. Practicing this skill is extremely helpful, so we highly recommend completing these exercises.

For each of the exercises, make sure to add a `docstring` and `type hints`, and **do not** import any libraries unless specified otherwise.
<br>

### Exercise 1

You have a list of dictionaries, each representing a student. Each dictionary contains the student’s full name, year, and a list of seven grades.

<span style="color:darkorange;"><strong>Level 1</strong>:</span> Use a `for`loop to calculate the average grade for each student and **print** the student’s information in the following format. Note that you only need to print the student’s first name, and that the average should be formatted to two digits only:

**Format output**:
```Python
"Student [First Name]'s average grade is [Average Grade]"
```

In [ ]:
students: list = [
    {"name": "LeBron James", "year": 2024, "grades": [68, 65, 62, 71, 47, 69, 33]},
    {"name": "Serena Williams", "year": 2024, "grades": [81, 77, 89, 80, 87, 73, 90]},
    {"name": "Lionel Messi", "year": 2024, "grades": [74, 80, 67, 72, 81, 89, 65]},
    {"name": "Usain Bolt", "year": 2024, "grades": [83, 87, 83, 89, 88, 84, 98]},
    {"name": "Tom Brady", "year": 2024, "grades": [67, 71, 61, 60, 82, 54, 71]},
    {"name": "Simone Biles", "year": 2024, "grades": [95, 92, 97, 91, 99, 92, 98]},
    {"name": "Michael Phelps", "year": 2024, "grades": [35, 48, 52, 41, 66, 40, 59]}
]

In [ ]:
# TODO.